/* ここから下に記載していく */
@charset "utf-8";
html{
    font-size: 62.5%;
}

body{
    color: #222222;
    font-size: 1.6rem;
    font-family: "Open Sans", "ヒラギノ角ゴ ProN W3";
    width: 1200px;
    margin: auto;
}



/* じゃんけんゲームのCSS */


.wrapper{
    max-width: 1200px;
    margin: auto;
}

.header-wrapper{
    display: flex;
    align-items:baseline;
    margin: 0 50px 20px 20px;
 }

.gonsan-logo{
    height: 125px;
    width: 200px;
    
}

.last_words{
    margin: 0 0 0 5px;
    font-size: 8px;
    color: #707070;

}

.heading{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: #707070;
    margin: 40px 0;
    background:rgba(0, 0, 0, 0) linear-gradient(transparent 40%, #ffffbc 0%) repeat scroll 0 0;

}

.text_color{
    color: #707070;
    font-weight: bold;
    text-align: center;
}

img{
    max-width: 100%;
    height: auto;
}

.title_call{
    margin-top: 40px;
    text-align: center;
    margin-bottom: 8px;
    color: red;
}

.your_choice{
    display: flex;
    margin-bottom: 100px;
}

.each_hand{
    width:400px;
    height: 200px;
}

.btn_choice{
    background-color: #fff;
    border-style: none;
}

.CPU_choice{
    width: 310px;
    margin: 200px auto;
    height: 200px;

}

.text_center{
    text-align: center;
}

.margin40{
    margin-bottom: 20px;
    background-color: black;
    color: #fff;
    padding:8px
    
}

.result_hand{
    display: block;
    padding-bottom: 8px;
}

.footer{
    background-color: #707070;
    padding: 30px 0;
    margin-top: 60px;
}

.copyrights{
    text-align: center;
    color: #ffffff;
}

